img{
    width:100%
}
.container{
    width: 50%;
    height:400px;
    background-color:greenyellow ;
    font-size: 16px;
}
.column{
    width:50%;
    height:2em;
    background-color: rgb(141, 220, 240);

}
.column p{
    font-size: 0.4em;
}
.column span{
    font-size: 1rem;
}

.nav-bar{
    width: 100%;
    height:50px;
    
 }
.nav-bar ul{
    list-style-type: none;
    font-size: 15px;
}
.nav-bar li a{
    float:right;
    color:rgb(35, 93, 241);
    padding: 20px 20px 20px 20px;
    text-decoration: none;
}